.title {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: rgb(233, 106, 47);
}

.sig_title span a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 15px;
}

.consumer_name h4 {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: rgb(235, 102, 190);
}

.card {
  background-color: cadetblue !important;
  height: 250px !important;
}

button {
  border-radius: 8px !important;
}

input {
  margin-left: 5px !important;
  border-radius: 5px;
}

.ManulaMar {
  margin-top: 10px !important;
}

span .btn {
  margin-top: 15px;
}

.card span label {
  margin-top: 10px;
}

.tick_box {
  height: auto;
}

.tick_card {
  height: auto !important;
}

.succEr {
  height: 30px;
  width: 450px;
  background-color: rgba(0, 225, 255, 0.356);
  margin: auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat */
.user_logo img {
  width: 35px;
  border: 1px solid gray;
  border-radius: 50%;
}
