.title {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: rgb(233, 106, 47);
}

.sig_title span a {
  text-decoration: none;
  font-size: 16px;
  margin-left: 15px;
}

.consumer_name h4 {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: rgb(235, 102, 190);
}

.card {
  background-color: cadetblue !important;
  height: 250px !important;
}

button {
  border-radius: 8px !important;
}

input {
  margin-left: 5px !important;
  border-radius: 5px;
}

.ManulaMar {
  margin-top: 10px !important;
}

span .btn {
  margin-top: 15px;
}

.card span label {
  margin-top: 10px;
}

.tick_box {
  height: auto;
}

.tick_card {
  height: auto !important;
}

.succEr {
  height: 30px;
  width: 450px;
  background-color: rgba(0, 225, 255, 0.356);
  margin: auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat */

.list {
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.user_logo img {
  width: 45px;
  border: 1px solid gray;
  border-radius: 50%;
}

.border-right {
  border-right: 1px solid black;
}

.add_user {
  padding: 6px;
  gap: 20px;
  cursor: pointer;
  border-bottom: 0.5px solid black;
}

.add_user img {
  width: 30px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  gap: 10px;
  flex-direction: column;
  span {
    font-weight: 500;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

/* chat main container */

.chat_box {
  height: 90vh;
  background-color: rgba(119, 136, 153, 0.288);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

/* chatbox */

.chatHader {
  display: flex;
  border-bottom: 0.5px solid rgba(82, 78, 78, 0.336);
  /* flex-direction: column; */
}

.user_icon img {
  width: 30px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 50%;
  object-fit: cover;
}

.chat_icons span img {
  width: 30px;
}

.icons span img {
  width: 24px;
}

.center {
  display: flex;
  border-bottom: 0.5px solid rgba(82, 78, 78, 0.336);
}
.text_area span img {
  width: 24px;
}

.text_area input {
  width: 100px;
}
